<section>
  <a id="contribute" tabindex="-1"></a>
  <div class="g-row">
    <h2 class="section-headline g-col-4">Contribute</h2>
    <div class="g-col-8">
      <p>
        TC39 welcomes contributions from the JavaScript community, whether it is feedback on existing proposals, improved documentation,
        testing, implementations, or even language feature ideas.
        <!-- TODO: Make each of the things in the preceding sentence links to the appropriate guides -->
        See our
        <a href="https://github.com/tc39/ecma262/blob/master/CONTRIBUTING.md">contributor guide</a> for details.
      </p>
      <p>
        To participate in TC39 meetings,
        <a href="https://ecma-international.org/memento/join.htm">join Ecma</a> and sign our
        <a href="https://ecma-international.org/memento/Policies/Registration%20Form%20for%20the%20Ecma%20Royalty%20Free%20(RF)%20Task%20Group%20(TG).pdf">patent agreement</a>.
      </p>
    </div>
  </div>
</section>
