<section>
  <div class="g-row intro">
    <div class="g-col-4">
      <h2 class="section-headline">{{ site.data["intro"]["TC39"]["title"] }}</h2>
      <p>
        {{ site.data["intro"]["TC39"]["desc"] }}
      </p><p>
        {{ site.data["intro"]["TC39"]["ecma-logo"] }}
      </p>
    </div>
    <div class="g-col-4">
      <h2 class="section-headline">{{ site.data["intro"]["contribute"]["title"] }}</h2>
      <p>
       {{ site.data["intro"]["contribute"]["desc"] }}
      </p>
      <p>
       {{ site.data["intro"]["contribute"]["join-ecma"] }}
      </p>
    </div>
    <div class="g-col-4">
      <h2 class="section-headline">{{ site.data["intro"]["specs"]["title"] }}</h2>
      <p>
       {{ site.data["intro"]["specs"]["desc"] }}
      </p>
    </div>
  </div>
</section>

