<section>
  <div class="g-row intro">
    <div class="g-col-4">
      <h2 class="section-headline">{{ intro["TC39"]["title"] }}</h2>
      <p>{{ intro["TC39"]["desc"] }}</p>
      <p>{{ intro["TC39"]["ecma-logo"] }}</p>
    </div>
    <div class="g-col-4">
      <h2 class="section-headline">{{ intro["contribute"]["title"] }}</h2>
      <p>{{ intro["contribute"]["desc"] }}</p>
      <p>{{ intro["contribute"]["join-ecma"] }}</p>
    </div>
    <div class="g-col-4">
      <h2 class="section-headline">{{ intro["specs"]["title"] }}</h2>
      <p>{{ intro["specs"]["desc"] }}</p>
    </div>
  </div>
</section>
