<section>
  <a id="proposals" tabindex="-1"></a>
  <h2 class="section-headline text-end">State of Proposals</h2>
  <div class="featurelist">
    <h3>Stage 3</h3>
    <i class="featurelist__desc">
      Proposals that have been reviewed, and are being considered as
      candidates for the spec are considered to be stage 3.
    </i>
    {% for proposal in site.data.stage3 %}
    <section class="featurelist__item">
      <section class="">
        <header class="featurelist__item__intro" tabindex="0">
          <section class="g-row">
            <h4 class="featurelist__item__title flex-grow">
              <a href="https://github.com/tc39/{{ proposal.id }}">{{ proposal.title }}</a>
            </h4>
            <section class="featurelist__item__tags flex-shrink" tabindex="-1">
              <ul class="featurelist__item__status">
                {% if proposal.presented | size %}
                {% for presentation in proposal.presented %}
                  <li class="featurelist__item__presented">
                    <a href="{{ presentation.url }}">{{ presentation.date }}</a>
                  </li>
                {% endfor %}
                {% endif %}
                {% if proposal.tests | size %}
                {% for url in proposal.tests %}
                  <li class="featurelist__item__tests">
                    <a href="{{ url }}">Tests</a>
                  </li>
                {% endfor %}
                {% endif %}
                {% if proposal.specification %}
              <li class="featurelist__item__spec">
                <a href="https://tc39.github.io/{{ proposal.id }}">Specification</a>
              </li>
                {% endif %}
              </ul>
            </section>
          </section>
          <section class="featurelist__item__author">
          {% if proposal.authors | size %}
          Author(s):
          {{ proposal.authors | join: ", " }}
          {% endif %}
          {% if proposal.champions | size %}
          |
          Champion(s):
          {{ proposal.champions | join: ", " }}
          {% else %}
          {% endif %}
          </section>
          {% if proposal.description %}
          <section class="featurelist__item__desc">{{ proposal.description }}</section>
          {% endif %}
        {% if proposal.example %}
          <div class="featurelist__item__example">Show Example</div>
        {% endif %}
        <section class="featurelist__item__info" tabindex="-1">
        {% if proposal.example %}
          <div>
            <div>
              <pre><code class="js">{{ proposal.example }}</code></pre>
            </div>
          </div>
        {% endif %}
        </section>
        </header>
      </section>
    </section>
    {% endfor %}
  </div>
  <section class="featurelist__more">
    <a href="https://github.com/tc39/proposals">
      See more proposals
    </a>
  </section>
</section>
