<div class="featurelist">
  <h2>Stage 3</h2>

  {% for proposal in site.data.stage3 %}
  <section class="featurelist__item">
    <header class="featurelist__item__intro">
      <h2>{{ proposal.title }}</h2>
      <p>{{ proposal.description }}</p>
    </header>
    <section class="featurelist__item__info">
      <div>
        <div>
          <h3>Status</h3>
          <ul class="featurelist__item__status">
            <li class="featurelist__item__owner">
              <p>Author(s)</p>
              <p>{% for name in proposal.authors %}{{ name }}{% endfor %}</p>
            </li>
            <li class="featurelist__item__owner">
              <p>Champion(s)</p>
              <p>{% for name in proposal.champions %}{{ name }}{% endfor %}</p>
            </li>
            <li class="featurelist__item__tests">
              <p>Test(s)</p>
              <p>{% for url in proposal.tests %}<a href="{{ url }}">{{ url }}</a>{% endfor %}</p>
            </li>
            <li class="featurelist__item__spec">
              <p>Specification</p>
              <a href="https://tc39.github.io/{{ proposal.id }}">https://tc39.github.io/{{ proposal.id }}</a>
            </li>
          </ul>
        </div>

        <div>
          <h3>Example</h3>
          <pre><code class="js">{{ proposal.example }}</code></pre>
        </div>
      </div>
      <h3>Developer Resources</h3>
      <ul>
        <li><a href="https://github.com/tc39/{{ proposal.id }}">https://github.com/tc39/{{ proposal.id }}</a></li>
        {% for url in proposal.resources %}<li><a href="{{ url }}">{{ url }}</a></li>{% endfor %}
      </ul>
    </section>
  </section>
  {% endfor %}

</div>
