<section id="specs">
  <div class="g-row">
    <h2 class="section-headline g-col-4">The Specs</h2>
    <div class="g-col-8">
      <p>
        We develop the JavaScript (formally, ECMAScript) specification <a href="https://github.com/tc39/ecma262/">on GitHub</a> and at meetings every two months. We follow a <a href="https://tc39.github.io/process-document/">four stage process</a> for new <a href="https://github.com/tc39/proposals/">language feature proposals</a>. See our <a href="https://github.com/tc39/agendas/">meeting agendas</a> and <a href="https://github.com/tc39/tc39-notes/">minutes</a> to learn more.
      </p>
    </div>
  </div>
</section>
