@use "variables";

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
}

:focus-visible {
  outline: 2px solid variables.$color-primary;
  outline-offset: 3px;
}

#content:focus {
  outline: none;
}

.skip-menu {
  position: fixed;
  inset-block-start: 12px;
  inset-inline-start: 20px;
  z-index: 3;
  padding: 12px 16px;
  color: variables.$color-text;
  pointer-events: none;
  background: white;
  border: 1px solid variables.$color-spacer;
  border-radius: 4px;
  opacity: 0;
  transform: translateY(calc(-100% - 16px));

  &:focus {
    pointer-events: auto;
    opacity: 1;
    transform: none;
  }
}
