.main-content {
  padding: 50px 0;
  font-size: 1rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $font-weight-semi-bold;
    color: $color-text;
  }

  h3 {
    padding: 10px 15px;
    margin-right: -15px;
    margin-left: -15px;
    color: white;
    background-color: $color-primary;
  }

  .section-headline {
    margin-top: 0;
    font-size: 2rem;
    font-weight: $font-weight-semi-bold;
  }

  p {
    margin: 0 0 $spacing-paragraph;
  }

  @media (min-width: $bp-tablet) {
    padding: 130px 0;

    .section-headline {
      border-bottom: none;
    }

    h3 {
      padding: 10px 40px;
      margin-right: -40px;
      margin-left: -40px;
    }

    .intro {
      text-align: center;
    }
  }
}

a {
  font-weight: $font-weight-semi-bold;
  color: $color-link;
}

.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}
