@use "variables";

.featurelist {
  &__item {
    padding: 0 1rem;
    margin-bottom: 1.125rem;
    font-size: 0.9em;
    background-color: white;
    border-bottom: 1px solid variables.$color-spacer;

    &__info {
      max-height: 0;
      overflow: hidden;
      transition: max-height 600ms ease;
    }

    &__tags {
      flex-shrink: 0;
    }

    &__tag {
      display: inline-block;
      font-size: 0.8rem;

      a {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        margin-top: 0.5rem;
        color: white;
        word-break: break-all;
        text-decoration: none;
        opacity: 1;

        &:hover {
          background-color: transparent;
        }

        &:focus {
          background-color: transparent;
        }
      }

      span {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        margin-top: 0.5rem;
        font-weight: 550;
        color: white;
        background-color: variables.$color-dim-gray;
        border: 2px solid variables.$color-dim-gray;
        border-radius: 10px;
      }
    }
    /* stylelint-disable-next-line no-descending-specificity */
    &__translation a {
      background-color: variables.$tag-translation;
      border: 2px solid variables.$tag-translation;
      border-radius: 10px;

      &:focus {
        color: variables.$tag-translation;
      }

      &:hover {
        color: variables.$tag-translation;
      }
    }

    &__status {
      float: left;
      clear: both;
      padding: 0;
      margin-top: 0;
      list-style: none;

      @media (min-width: variables.$bp-tablet) {
        float: right;
        clear: none;
        padding: 0 5px;
        margin-top: 0.5rem;
      }
    }

    h4 {
      display: inline-block;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 1em;
      margin-bottom: 0.5em;
      font-size: 1.6em;
      overflow-wrap: anywhere;
    }
    /* stylelint-disable-next-line no-descending-specificity */
    &__tests a {
      background-color: variables.$tag-tests;
      border: 2px solid variables.$tag-tests;
      border-radius: 10px;

      &:focus {
        color: variables.$tag-tests;
      }

      &:hover {
        color: variables.$tag-tests;
      }
    }
    /* stylelint-disable-next-line no-descending-specificity */
    &__spec a {
      background-color: variables.$tag-spec;
      border: 2px solid variables.$tag-spec;
      border-radius: 10px;

      &:focus {
        color: variables.$tag-spec;
      }

      &:hover {
        color: variables.$tag-spec;
      }
    }
    /* stylelint-disable-next-line no-descending-specificity */
    &__presented a {
      background-color: variables.$tag-presented;
      border: 2px solid variables.$tag-presented;
      border-radius: 10px;

      &:focus {
        color: variables.$tag-presented;
      }

      &:hover {
        color: variables.$tag-presented;
      }
    }

    .no-js &:focus-within &__info {
      max-height: none;
    }

    .no-js &:focus-within &__intro h4::after {
      transform: rotateX(180deg);
    }

    &__desc {
      clear: both;
      display: block;
      padding: 0;
      margin: 1em 0;
    }

    &__author {
      clear: both;
      padding-top: 0;
      margin: 0;
      font-weight: 800;
    }

    &__example {
      display: inline-block;
      margin-bottom: 1rem;
      font-weight: 800;
      text-decoration: underline;
      cursor: pointer;

      &::before {
        float: right;
        display: block;
        width: 1.2rem;
        height: 1.2em;
        margin-left: 0.5rem;
        content: "";
        background: url("../img/menu-down.svg") no-repeat 20%;
        background-size: 1.2rem;
        transition: transform 600ms ease;

        .open & {
          transform: rotateX(180deg);
        }

        [dir="rtl"] & {
          float: left;
          margin-right: 0.5rem;
          margin-left: 0;
        }
      }
    }
  }

  &__legend {
    display: block;
    margin-bottom: 4.5em;
    font-size: 1.1em;

    p {
      margin-top: 1em;
    }

    &__tags {
      padding: 0;
      list-style: none;

      @media (min-width: variables.$bp-tablet) {
        padding-inline-start: 2em;
      }
    }
  }

  &__desc {
    display: block;
    margin-top: 2em;
    margin-bottom: 1.5em;
    font-size: 1.1em;
  }

  &__more {
    text-align: center;
  }
}

details summary {
  cursor: pointer;
}
