.featurelist {
  &__item {
    background-color: white;
    border-bottom: 1px solid $color-spacer;
    font-size: 0.9em;
    margin-bottom: 1.125rem;
    padding: 0 1rem 0 1rem;
    &__intro {
      cursor: pointer;
    }
    &__info {
      max-height: 0;
      overflow: hidden;
      transition: max-height 600ms ease;
    }
    &__tests {
      background-color: $tag-tests;
      border: 2px solid $tag-tests;
      border-radius: 10px;
    }
    &__spec {
      background-color: $tag-spec;
      border: 2px solid $tag-spec;
      border-radius: 10px;
    }
    &__presented {
      background-color: $tag-presented;
      border: 2px solid $tag-presented;
      border-radius: 10px;
    }
    &__impl {
      background-color: $tag-presented;
      border: 2px solid $tag-presented;
      border-radius: 10px;
    }
    &__ressources {
      a {
        word-break: break-all;
      }
    }
    &__status {
      clear: both;
      float: left;
      font-size: 0.8em;
      list-style: none;
      margin-top: 0;
      padding: 0;
      a {
        word-break: break-all;
      }
      li {
        display: inline-block;
        margin-top: 0.5rem;
        opacity: 0.5;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        &:hover {
          opacity: 1;
        }
        a {
          color: white;
          text-decoration: none;
        }
      }
      p {
        margin: 0;
      }
      @media (min-width: $bp-tablet) {
        clear: none;
        float: right;
        margin-top: 0.5rem;
        padding: 0 5px;
      }
    }
    .no-js &:focus-within &__info {
      max-height: none;
    }
    .no-js &:focus-within &__intro h4::after {
      transform: rotateX(180deg);
    }
    &__desc {
      clear: both;
      display: block;
      margin: 1em 0 1em 0;
      padding: 0;
    }
    &__authors {
      display: block;
      font-size: 1.1em;
    }
    &__author {
      clear: both;
      color: grey;
      margin: 0;
      padding-top: 0;
    }
    &__example {
      display: inline-block;
      margin-bottom: 1rem;
      &::before {
        background: url(../img/menu-down.svg) no-repeat 20%;
        background-size: 1.2rem;
        content: "";
        display: block;
        float: right;
        height: 1.2em;
        margin-left: 0.5rem;
        transition: transform 600ms ease;
        width: 1.2rem;
        .open & {
          transform: rotateX(180deg);
        }
        [dir="rtl"] & {
          float: left;
          margin-left: 0;
          margin-right: 0.5rem;
        }
      }
    }
    h4 {
      display: inline-block;
      float: left;
      font-size: 1.6em;
      margin-bottom: 0.5em;
      margin-top: 1em;
      padding-bottom: 0;
      padding-top: 0;
      word-wrap: anywhere;
        a {
          text-decoration: none;
        }
    }
  }
  &__desc {
    display: block;
    font-size: 1.1em;
    margin-bottom: 4.5em;
    margin-top: 2em;
  }
  &__more {
    text-align: center;
  }
}
