@use "sass:math";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  background: $color-bg;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 math.div($grid-gutter, 2);
  margin: 0 auto;
}

.page-title {
  margin: 50px 0 0;
  font-size: 36px;
  line-height: 54px;
}

@media (min-width: $bp-tablet) {
  .container {
    padding: 0 45px;
  }

  .page-title {
    font-size: 54px;
    line-height: 81px;
    text-align: end;
  }
}
