@use "variables";

.logo-box {
  flex-shrink: 0;

  img {
    display: block;
    width: 64px;
    height: 64px;
  }

  @media (min-width: variables.$bp-tablet) {
    img {
      width: 88px;
      height: 88px;
    }
  }
}

.ecma-logo-box {
  z-index: 3;
  flex-shrink: 2;

  img {
    display: inline-block;
    width: 120px;
  }

  @media (min-width: variables.$bp-tablet) {
    img {
      width: 120px;
    }
  }
}
