.logo-box {
  z-index: 3;
  flex-shrink: 0;

  img {
    display: block;
    width: 90px;
    height: 90px;
  }

  @media (min-width: $bp-tablet) {
    img {
      width: 120px;
      height: 120px;
    }
  }
}

.ecma-logo-box {
  z-index: 3;
  flex-shrink: 2;

  img {
    display: inline-block;
    width: 120px;
  }

  @media (min-width: $bp-tablet) {
    img {
      width: 120px;
    }
  }
}
