.logo-box {
  flex-shrink: 0;
  z-index: 3;
  img {
    display: block;
    height: 90px;
    width: 90px;
  }
  @media (min-width: $bp-tablet) {
    img {
      height: 120px;
      width: 120px;
    }
  }
}

.ecma-logo-box {
  flex-shrink: 2;
  z-index: 3;
  img {
    display: inline-block;
    width: 120px;
  }
  @media (min-width: $bp-tablet) {
    img {
      width: 120px;
    }
  }
}
