.page-header {
  align-items: flex-start;
  background: inherit;
  display: flex;
  flex-direction: row;
  @media (min-width: $bp-tablet) {
    $spacing: 30px;
    .page-menu {
      margin-left: $spacing;
      [dir="rtl"] & {
        margin-left: 0;
        margin-right: $spacing;
      }
    }
  }
  @media (min-width: $bp-desktop) {
    $spacing: 90px;
    .page-menu {
      font-size: 1.1em;
      margin-left: $spacing;
      [dir="rtl"] & {
        margin-left: 0;
        margin-right: $spacing;
      }
    }
  }

}
