.page-brand {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  padding: 24px 0;

  @media (width >= 600px) {
    flex-direction: row;
    gap: 28px;
    align-items: center;
    padding: 32px 0;
  }
}
