@use "sass:color";

.synopsis {
  width: 100%;
  padding: 0 4% $grid-gutter;
  overflow: auto;
  clear: both;
  font-weight: 400;
}

.synopsis ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.synopsis a,
.synopsis h3 {
  font-weight: $font-weight-regular;
}

.page-footer {
  width: 100%;
  min-height: 100px;
  font-size: 12px;
  color: $color-dim-gray;
}

.page-footer h3 {
  padding-bottom: 1em;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid color.mix($color-bg, $color-dim-gray, $weight: 80%);
}

@media (min-width: $bp-tablet) {
  .page-footer h3 {
    margin-top: 0;
  }

  .page-footer .synopsis .g-col-3:not(:last-child) {
    padding-right: $grid-gutter;
    border-right: solid 1px color.mix($color-bg, $color-dim-gray, $weight: 80%);
  }

  .page-footer .synopsis .g-col-3:not(:first-child) {
    padding-left: $grid-gutter;
  }
}

.page-footer a {
  font-weight: $font-weight-regular;
  line-height: 24px;
  color: $color-link;
  text-decoration: underline;

  .icon {
    float: left;
    padding-right: 1em;
    clear: left;
  }

  .icon path {
    fill: $color-dim-gray;
  }

  &:active .icon path,
  &:focus .icon path,
  &:hover .icon path {
    fill: $color-link;
  }

  span {
    line-height: 32px;
  }
}

.page-footer a:hover {
  text-decoration: none;
}

.page-footer .pipe-nav {
  display: block;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.page-footer .pipe-nav li {
  display: inline-block;
  list-style: none;
}

.page-footer .pipe-nav li + li::before {
  padding: 0 0.5em;
  content: "| ";
}

.page-footer .grid-container {
  padding: $grid-gutter 0;
  margin: 0 auto;
  overflow: auto;
  border-top: solid 1px color.mix($color-bg, $color-dim-gray, $weight: 80%);
}

.page-footer .grid-start {
  float: none;
  text-align: center;
}

.page-footer .grid-end {
  float: none;
  padding-top: 1em;
  text-align: center;
}

@media (min-width: $bp-tablet) {
  .page-footer .grid-start {
    float: left;
    text-align: left;
  }

  .page-footer .grid-end {
    float: right;
    padding-top: 0;
    text-align: right;
  }
}
