$svg-height: 24;
$trans-timing: 600ms;
@mixin svgMenuIcon($color: currentColor, $height: $svg-height) {
  background: url(../img/menu.svg) no-repeat 50%;
}

@mixin rotateSubmenuToggle() {
  transform: rotateX(180deg);
}

.skip-menu {
  opacity: 0;
  position: absolute;
  right: 84px;
  top: 10px;
  z-index: 10;
  &:focus {
    opacity: 1;
  }
}

.page-menu {
  $mobile-mt: 15px;
  font-size: 18px;
  margin-top: $mobile-mt;
  text-align: end;
  width: 100%;
  .submenu {
    flex: 0 0 100%;
    list-style: none;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: max-height $trans-timing ease;
    &:focus-within {
      max-height: none;
    }
    &-item {
      width: 100%;
    }
    &-item a {
      font-weight: 500;
      &:hover {
        color: $color-primary;
        font-weight: 500;
        text-decoration: none;
      }
    }
    &-toggle {
      background: transparent;
      border: none;
      cursor: pointer;
      flex: 0 0 1.5rem;
      margin: 0 0 0 0.5rem;
      padding: 0;
      &::after {
        background: url(../img/menu-down.svg) no-repeat 50%;
        background-size: 1.5rem;
        content: "";
        display: block;
        height: 1.5rem;
        transition: transform $trans-timing ease;
        width: 1.5rem;
      }
      &.open::after {
        @include rotateSubmenuToggle();
      }
    }
    &.open {
      max-height: none;
    }
  }
  .menu {
    background: $color-submenu-bg;
    border-bottom: 1px solid $color-spacer;
    display: block;
    left: 0;
    list-style-type: none;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding: ($svg-height + $mobile-mt) 20px 10px 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: max-height $trans-timing ease;
    width: 100%;
    z-index: 2;
    [dir="rtl"] & {
      padding: ($svg-height + $mobile-mt) 0 10px 20px;
    }
    &:focus-within,
    &:target {
      max-height: none;
    }
    &-toggle {
      display: inline-block;
      margin: -10px;
      padding: 10px;
      position: relative;
      z-index: 10;
      &-text {
        clip: rect(0 0 0 0);
        height: 0;
        overflow: hidden;
        position: absolute;
        width: 0;
      }
      &::after {
        @include svgMenuIcon($color-tc39);
        background-size: 1.5rem;
        content: "";
        display: block;
        height: 1.5rem;
        width: 1.5rem;
      }
    }
    &-link {
      color: $color-nav;
      cursor: pointer;
      display: block;
      flex: 0 0 calc(100% - 2rem);
      font-weight: 600;
      min-width: 150px;
      padding: 10px 10px;
      text-decoration: none;
      &:focus {
        ~.submenu-toggle {
          @include rotateSubmenuToggle();
        }
        ~.submenu {
          max-height: none;
          overflow: visible;
        }
      }
      &:hover,
      &:focus {
        color: $color-primary;
        font-weight: $font-weight-semi-bold;
        text-decoration: none;
      }
      /* stylelint-disable-next-line no-descending-specificity */
      &__language {
        height: 40px;
        margin-left: auto;
        min-width: 24px;
      }
    }
    &-item {
      display: block;
      &.has-submenu {
        display: flex;
        flex-wrap: wrap;
      }
      &__language {
        display:block;
        margin-left: auto;
        width: 100%;
        /* stylelint-disable-next-line no-descending-specificity */
        .submenu {
          margin-left: 0;
        }
      }
    }
    @media (min-width: $bp-desktop) {
      &-link {
        padding: 10px 40px;
      }
    }
  }
  &.open .menu-toggle,
  &:focus-within .menu-toggle {
    &::after {
      @include svgMenuIcon();
    }
  }
  @media (min-width: $bp-tablet) {
    $mt: 73.6px;
    border-bottom: 1px solid $color-spacer;
    margin-top: $mt;
    .submenu {
      background: $color-submenu-bg;
      border-top: 2px solid $color-spacer;
      font-size: 16px;
      position: absolute;
      &-toggle {
        display: none;
      }
      &-item {
        border-bottom: 1px solid $color-spacer;
        border-left: 4px solid $color-link;
      }
      &-item:last-child {
        border-bottom: 1px solid transparent;
      }
      &-item:hover,
      &-item:focus {
        display: inline-block;
        min-width: 120px;
      }
    }
    .menu {
      background: $color-submenu-bg;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-height: none;
      overflow: visible;
      padding: 0;
      position: relative;
      text-align: start;
      width: 100%;
      &-toggle {
        display: none;
      }
      &-item {
        &.has-submenu {
          display: block;
        }
        &:hover .submenu {
          max-height: none;
          overflow: visible;
        }
        &__language {
          margin-left: 0;
          width: 50px;
          /* stylelint-disable-next-line no-descending-specificity */
          .submenu {
            margin-left: -105px;
          }
        }
      }
      &-link {
        flex: none;
        &__language {
          flex-shrink: 1;
          height: 47px;
          min-width: 50px;
          overflow: hidden;
          padding: 10px 0;
          svg {
            width: 24px;
          }
          &-text {
            display: none;
          }
        }
      }
    }
  }
}
