.popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  input[type="checkbox"] + label {
    position: absolute;
    transition:
      opacity 0.3s ease-in-out,
      transform 0.6s ease-in-out;
    will-change: opacity, transform;
  }

  input[type="checkbox"]:checked + label {
    opacity: 0;
    transform: translateY(100%);
  }

  .close {
    float: right;
    color: #b94b45;
    cursor: pointer;
  }

  .alert-message {
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 20px 44px;
    line-height: 30px;
    color: #fff;
    color: rgb(255 255 255 / 90%);
    background: black;
    background-color: black;
    border: 1px solid rgba(#34495e, 0.25);
    border-radius: 3px;
    box-shadow: 0 10px 50px rgb(0 0 0 / 60%);
  }
}
