.popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.fa{
  line-height:30px;
  font-size:30px;
  display:inline-bloxk;
  width:35px;
  height:35px;
}

.hidden{
  display:none;
}

input[type=checkbox] + label {
  position:relative;
}

input[type=checkbox]:checked + label {
  animation: closing 0.3s forwards ease-in-out,
             moving 0.3s forwards ease-in-out;
}
.pointer-cursor{
   cursor: pointer; cursor: hand;
}
.close{

    float:right;
    color: #b94b45;
    cursor: pointer; cursor: hand;
}

.alert-message{
  background-color: black;
  border: 1px solid rgba(#34495e, 0.25);
  color: #b94b45;
  border-radius: 3px;
  line-height:30px;
  position: absolute;
  top: 0; left: 0;
  display:block;
  width:100%;
  padding: 12px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, .9);
  box-shadow: 0px 10px 50px rgba(0,0,0,.6);
  background: black;
}

@keyframes closing {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes moving {
  0%, 90% { top: 0; left: 0; }
  100%  { top: -100px; left: 0; }
}
