.popup {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;

  input[type="checkbox"] + label {
    position: absolute;
    transition: 
      opacity 0.3s ease-in-out,
      transform 0.6s ease-in-out;
    will-change: opacity, transform;
  }

  input[type="checkbox"]:checked + label {
    opacity: 0;
    transform: translateY(100%);
  }

  .close {
    color: #b94b45;
    cursor: pointer;
    float: right;
  }

  .alert-message {
    background: black;
    background-color: black;
    border: 1px solid rgba(#34495e, 0.25);
    border-radius: 3px;
    bottom: 0;
    box-shadow: 0 10px 50px rgba(0,0,0,.6);
    box-sizing: border-box;
    color: #fff;
    color: rgba(255, 255, 255, .9);
    display: block; left: 0;
    line-height: 30px;
    padding: 20px 44px;
    position: absolute;
    width: 100%;
  }
}
