// Colors
$color-tc39: #f90;
$color-tc39-dark: #AB6700;
$color-primary: #017e78;
$color-link: #017e78;
$color-text: #000;
$color-nav: #444;
$color-spacer: #eee;
$color-submenu-bg: white;
$color-bg: #fafafa;
$color-dim-gray: #696969;

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 550;

// Spacing
$grid-gutter: 40px;
$spacing-paragraph: 40px;

// Breakpoints
$bp-tablet: 920px;
$bp-desktop: 1200px;

// Tags
$tag-tests: #017e78;
$tag-spec: #AB6700;
$tag-presented: #a63446;
$tag-translation: #8234a6;
