$color-tc39: #f90;
$color-primary: #7cb;
$color-bg: #fefefe;
$color-spacer: #eee;
$color-text: #000;
$color-nav: #444;
$color-submenu-bg: #fcfcfc;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 550;
$grid-gutter: 40px;
$spacing-paragraph: 40px;
$bp-tablet: 920px;
$bp-desktop: 1200px;
