<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="main">
      <section class="page-header">
        {% include_relative _layouts/page_header.html %}
      </section>
      <section class="page-menu">
          {% include_relative _layouts/menu.html %}
      </section>
      <section class="main-content">
        {{ content }}

      </section>
      <section class="footer">
          <span class="footer-item">
            <a href="https://github.com/tc39/ecma262#ecmascript" class="btn menu-btn">Proposals</a>
          </span>
      </section>
    </section>
  </body>
</html>
