<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script defer src="{{ '/assets/js/main.js?v=' | append: site.github.build_revision | relative_url }}" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <section class="page-menu">
      <span class="menu">
        <span class="menu-item">
          <a href="https://github.com/tc39/ecma262#ecmascript" class="btn menu-btn">Proposals</a>
          <span class="sub-menu">
            <a href="https://github.com/tc39/proposals" class="btn menu-btn">Active Proposals</a>
            <a href="https://github.com/tc39/proposals/blob/master/inactive-proposals.md" class="btn menu-btn">Inactive Proposals </a>
          <a href="https://github.com/tc39/proposals/blob/master/finished-proposals.md" class="btn
            menu-btn">Finished Proposals</a>
          </span>
        </span>
        <span class="menu-item">
          <a href="./guides" class="btn menu-btn">Guides</a>
          <span class="sub-menu">
            <a href="https://timothygu.me/es-howto/" class="btn menu-btn">Reading the spec</a>
            <a href="./guides/first-proposal" class="btn menu-btn">Making your first Proposal</a>
            <a href="" class="btn menu-btn">Implementing a Proposal</a>
            <a href="" class="btn menu-btn">Giving meaningful
              feedback</a>
            <a href="" class="btn menu-btn">Running the tests</a>
            <a href="" class="btn menu-btn">Joining the TC39 as a member
              organization</a>
            <a href="" class="btn menu-btn">More Guides</a>
          </span>
        </span>
        <span class="menu-item">
          <a href="" class="btn menu-btn">Process</a>
          <span class="sub-menu">
            <a href="https://tc39.github.io/process-document/" class="btn menu-btn">Overview</a>
          </span>
        </span>
        <span class="menu-item">
          <a href="" class="btn menu-btn">Discussion</a>
          <span class="sub-menu">
            <a href="https://github.com/tc39/agendas/blob/master/2018/03.md" class="btn menu-btn">Upcoming Agenda</a>
            <a href="https://github.com/tc39/tc39-notes/blob/master/es8/2018-01/jan-25.md" class="btn menu-btn">Recent Meeting Notes</a>
            <a href="https://github.com/tc39/" class="btn menu-btn">Github Directory</a>
            <a href="https://esdiscuss.org/" class="btn menu-btn">ES Discuss</a>
            <a href="./discussion/irc" class="btn menu-btn">IRC</a>
          </span>
        </span>
        <span class="menu-item">
          <a href="" class="btn menu-btn">Contributing</a>
          <span class="sub-menu">
            <a href="https://github.com/tc39/proposals/blob/master/CONTRIBUTING.md" class="btn
              menu-btn">Proposal Guideline</a>
            <a href="https://github.com/tc39/test262/blob/master/CONTRIBUTING.md" class="btn
              menu-btn">Tests Guideline</a>
          </span>
        </span>
        <span class="menu-item">
          <a href="" class="btn menu-btn">Resources</a>
          <span class="sub-menu">
            <a href="https://www.ecma-international.org/ecma-262/8.0/index.html" class="btn menu-btn">Current Spec</a>
            <a href="https://www.ecma-international.org/publications/standards/Ecma-262-arch.htm" class="btn
              menu-btn">Archive</a>
            <a href="https://ecma-international.org/memento/TC39.htm" class="btn
              menu-btn">Programme of Work</a>
            <a href="http://exploringjs.com/es2016-es2017/ch_tc39-process.html" class="btn
              menu-btn">Questions and answers</a>
          </span>
        </span>
      </span>
    </section>
    <section class="main">
      <section class="page-header">
        <span class="tc39-box">
          <h1 class="project-name">TC</h1>
          <h1 class="project-name">39</h1>
        </span>
      </section>
      <span class="project-tagline">
        <h2>
            Specifying ECMAScript.
        </h2>
      </span>
      <section class="side-info">
        <span class="basic-info">
          <h3>
            Who?
          </h3>
          <p>
            The specification is standardized by the TC39 (Technical committee 39) of ECMA (European
            Computer Manufacturers Association). You can read our <a
              href="https://ecma-international.org/memento/TC39.htm#Scope">the scope of our work here</a>
          </p>
        </span>
        <span class="basic-info">
          <h3>
            How?
          </h3>
          <p>
          We have a <a href="https://tc39.github.io/process-document/">four stage process</a> with a
          rolling release schedule with a new specification published every year.</p> <p>Proposals move
          through stages at TC39 meetings, which are held every <a
                       href="https://github.com/tc39/agendas/">two months</a>, and the <a
                       href="https://github.com/tc39/tc39-notes/">Notes</a> are made public.
        </span>
        <span class="basic-info">
          </p>
          <h3>
            Want to get involved?
          </h3>
          <p>
  There are many opportunities to get involved on an individual level. Check out our
  <a href="(https://github.com/tc39/proposals/blob/master/CONTRIBUTING.md">Contributor Documentation</a> and our guides to learn more.

  To get involved with the committee on an organizational level, read our
  <a href="https://ecma-international.org/memento/TC39-M.htm">Joining the TC39</a> documentation.
          </p>
        </span>
      </section>
      <section class="main-content">
        <!-- {{ content }} -->
        {% include proposals.html %}

      </section>
      <section class="footer">
          <span class="footer-item">
            <a href="https://github.com/tc39/ecma262#ecmascript" class="btn menu-btn">Proposals</a>
          </span>
      </section>
    </section>
  </body>
</html>
