<a href="#content" class="skip-menu">
  {{ site["navigation"]["skip-content"] }}
</a>
<a href="#menu" class="menu-toggle" tabindex="-1">
  <span class="menu-toggle-text"> {{ site["navigation"]["open-menu"] }} </span>
</a>
<ul class="menu" id="menu">
  <li class="menu-item has-submenu">
    <a class="menu-link"> {{ site["navigation"]["TC39"]["title"] }} </a>
    <button class="submenu-toggle" tabindex="-1">
      <span class="sr-only">
        {{ site["navigation"]["TC39"]["sub-menu"] }}
      </span>
    </button>
    <ul class="submenu">
      <li class="submenu-item">
        <a class="menu-link" href="https://github.com/tc39/agendas#agendas">
          {{ site["navigation"]["TC39"]["agenda"] }}
        </a>
      </li>
      <li class="submenu-item">
        <a
          class="menu-link"
          href="https://github.com/tc39/notes#tc39-meeting-notes"
        >
          {{ site["navigation"]["TC39"]["notes"] }}
        </a>
      </li>
    </ul>
  </li>
  <li class="menu-item has-submenu">
    <a class="menu-link"> {{ site["navigation"]["specs"]["title"] }} </a>
    <button class="submenu-toggle" tabindex="-1">
      <span class="sr-only">
        {{ site["navigation"]["specs"]["sub-menu"] }}
      </span>
    </button>
    <ul class="submenu">
      <li class="submenu-item">
        <a class="menu-link" href="https://github.com/tc39/proposals">
          {{ site["navigation"]["specs"]["proposals"] }}
        </a>
      </li>
      <li class="submenu-item">
        <a class="menu-link" href="https://tc39.es/ecma262/">
          {{ site["navigation"]["specs"]["ecma-262"] }}
        </a>
      </li>
      <li class="submenu-item">
        <a class="menu-link" href="https://tc39.es/ecma402/">
          {{ site["navigation"]["specs"]["ecma-402"] }}
        </a>
      </li>
      <li class="submenu-item">
        <a
          class="menu-link"
          href="https://www.ecma-international.org/publications-and-standards/standards/ecma-404/"
        >
          {{ site["navigation"]["specs"]["ecma-404"] }}
        </a>
      </li>
      <li class="submenu-item">
        <a
          class="menu-link"
          href="https://www.ecma-international.org/publications-and-standards/standards/ecma-414/"
        >
          {{ site["navigation"]["specs"]["ecma-414"] }}
        </a>
      </li>
    </ul>
  </li>
  <li class="menu-item has-submenu">
    <a class="menu-link"> {{ site["navigation"]["contribute"]["title"] }} </a>
    <button class="submenu-toggle" tabindex="-1">
      <span class="sr-only">
        {{ site["navigation"]["contribute"]["sub-menu"] }}
      </span>
    </button>
    <ul class="submenu">
      <li class="submenu-item">
        <a
          class="menu-link"
          href='{{ site["links"]["contribute-to-proposals"] }}'
        >
          {{ site["navigation"]["contribute"]["proposals"] }}
        </a>
      </li>
      <li class="submenu-item">
        <a class="menu-link" href='{{ site["links"]["contribute-to-tests"] }}'>
          {{ site["navigation"]["contribute"]["tests"] }}
        </a>
      </li>
      <li class="submenu-item">
        <a class="menu-link" href="https://timothygu.me/es-howto/">
          {{ site["navigation"]["contribute"]["read"] }}
        </a>
      </li>
      <li class="submenu-item">
        <a class="menu-link" href='{{ site["links"]["discourse"] }}'>
          {{ site["navigation"]["contribute"]["discourse"] }}
        </a>
      </li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="#proposals" class="menu-link">
      {{ site["navigation"]["state-of-proposals"] }}
    </a>
  </li>
  <li class="menu-item has-submenu menu-item__language">
    <a class="menu-link menu-link__language">
      <img
        src="/assets/img/language.svg"
        alt="{{ site["navigation"]["language"]["title"] }}"
      />

      <span class="menu-link__language-text">
        {{ site["navigation"]["language"]["title"] }}
      </span>
    </a>
    <button class="submenu-toggle" tabindex="-1">
      <span class="sr-only">
        {{ site["navigation"]["contribute"]["sub-menu"] }}
      </span>
    </button>

    <ul class="submenu">
      {%- for language in languages -%} {%- unless language.id == site.lang -%}
      <li class="submenu-item">
        {%- if language.id == site.default_lang -%}
        <a class="menu-link" href="/"> {{ language.title }} </a>
        {%- else -%}
        <a class="menu-link" href="/{{ language.id }}">
          {{ language.title }}
        </a>
        {%- endif -%}
      </li>
      {%- endunless -%} {%- endfor -%}
    </ul>
  </li>
</ul>
