<span class="menu">
  <span class="menu-item">
    <a href="https://github.com/tc39/ecma262#ecmascript" class="btn menu-btn">Proposals</a>
    <span class="sub-menu">
      <a href="https://github.com/tc39/proposals" class="btn menu-btn">Active Proposals</a>
      <a href="https://github.com/tc39/proposals/blob/master/inactive-proposals.md" class="btn menu-btn">Inactive Proposals </a>
    <a href="https://github.com/tc39/proposals/blob/master/finished-proposals.md" class="btn
      menu-btn">Finished Proposals</a>
    </span>
  </span>
  <span class="menu-item">
    <a href="./guides" class="btn menu-btn">Guides</a>
    <span class="sub-menu">
      <a href="https://timothygu.me/es-howto/" class="btn menu-btn">Reading the spec</a>
      <a href="./guides/first-proposal" class="btn menu-btn">Making your first Proposal</a>
      <a href="" class="btn menu-btn">Implementing a Proposal</a>
      <a href="" class="btn menu-btn">Giving meaningful
        feedback</a>
      <a href="" class="btn menu-btn">Running the tests</a>
      <a href="" class="btn menu-btn">Joining the TC39 as a member
        organization</a>
      <a href="" class="btn menu-btn">More Guides</a>
    </span>
  </span>
  <span class="menu-item">
    <a href="" class="btn menu-btn">Process</a>
    <span class="sub-menu">
      <a href="https://tc39.github.io/process-document/" class="btn menu-btn">Overview</a>
    </span>
  </span>
  <span class="menu-item">
    <a href="" class="btn menu-btn">Discussion</a>
    <span class="sub-menu">
      <a href="https://github.com/tc39/agendas/blob/master/2018/03.md" class="btn menu-btn">Upcoming Agenda</a>
      <a href="https://github.com/tc39/tc39-notes/blob/master/es8/2018-01/jan-25.md" class="btn menu-btn">Recent Meeting Notes</a>
      <a href="https://github.com/tc39/" class="btn menu-btn">Github Directory</a>
      <a href="https://esdiscuss.org/" class="btn menu-btn">ES Discuss</a>
      <a href="./discussion/irc" class="btn menu-btn">IRC</a>
    </span>
  </span>
  <span class="menu-item">
    <a href="" class="btn menu-btn">Contributing</a>
    <span class="sub-menu">
      <a href="https://github.com/tc39/proposals/blob/master/CONTRIBUTING.md" class="btn
        menu-btn">Proposal Guideline</a>
      <a href="https://github.com/tc39/test262/blob/master/CONTRIBUTING.md" class="btn
        menu-btn">Tests Guideline</a>
    </span>
  </span>
  <span class="menu-item">
    <a href="" class="btn menu-btn">Resources</a>
    <span class="sub-menu">
      <a href="https://www.ecma-international.org/ecma-262/8.0/index.html" class="btn menu-btn">Current Spec</a>
      <a href="https://www.ecma-international.org/publications/standards/Ecma-262-arch.htm" class="btn
        menu-btn">Archive</a>
      <a href="https://ecma-international.org/memento/TC39.htm" class="btn
        menu-btn">Programme of Work</a>
      <a href="http://exploringjs.com/es2016-es2017/ch_tc39-process.html" class="btn
        menu-btn">Questions and answers</a>
    </span>
  </span>
</span>

