<footer class="page-footer">
  <div class="grid-container">
    <div class="grid-start">
      <span>We are looking for feedback.<br />Please <a href="https://github.com/tc39/tc39.github.io/issues/new" target="_blank">open an issue</a> using the issue tracker for <a href="https://github.com/tc39/tc39.github.io" target="_blank">our site repository</a>.</span>
    </div>
    <div class="grid-end" role="navigation" aria-label="site info">
      <ul class="pipe-nav">
        <li><a href="https://tc39.es/archives/">Archives</a></li>
        <li><a href="https://tc39.es/process-document/">Process</a></li>
        <li><a href="https://tc39.es/code-of-conduct/">Code of Conduct</a></li>
      </ul>
      <span>&copy; Ecma International</span>
    </div>
  </div>
</footer>
