<section id="tc39">
  <div class="g-row">
    <h2 class="section-headline g-col-4">About the TC39</h2>
    <div class="g-col-8">
      <p>Lorem ipsum, dolor sit amet consectetur <a href="">adipisicing</a> elit. Repudiandae nobis cupiditate sequi esse, qui ipsum deleniti tempore quasi, illum iusto quaerat facere temporibus eius unde? Deserunt nam repudiandae omnis distinctio.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti provident ea quisquam voluptates, quae explicabo mollitia dolores nulla odio quas.</p>
    </div>
  </div>
</section>
