<section id="specs">
  <div class="g-row">
    <h2 class="section-headline g-col-4">The Specs</h2>
    <div class="g-col-4">
      <p>Lorem ipsum, dolor sit amet consectetur <a href="">adipisicing</a> elit. Repudiandae nobis cupiditate sequi esse, qui ipsum deleniti tempore quasi, illum iusto quaerat facere temporibus eius unde? Deserunt nam repudiandae omnis distinctio.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti provident ea quisquam voluptates, quae explicabo mollitia dolores nulla odio quas.</p>
    </div>
    <div class="g-col-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deserunt perspiciatis eius qui aliquam, quasi voluptas. Tenetur ex quisquam asperiores.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, asperiores.</p>
    </div>
  </div>
</section>
