@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';

a {
  color: #ff9900;
}

.page-header {
  background-color: #f5f5f5;
  color: black;
  background-image: none;
}

.tc39-box {
  border: transparent 1rem solid;
  background-color: #ff9900;
  padding-left: 8rem;
  padding-top: 5.5rem;
  width: 18rem;
  height: 18rem;
  display: inline-block;
}

.basic-info {
  flex-basis: 100%;
  margin-right: 3rem;
  text-align: center;
  border: 1px solid lightgrey;
  padding: 1rem;
  border-radius: 2px;
}

.main {
  display: grid;
}

h1.project-name {
  line-height: 0.75;
  padding: 0.5rem;
}

.project-tagline {
  text-align: left;
  grid-column: 2 / 9;
  grid-row: 2 / 3;
}

.btn {
  color: black;
  border: none;
  border-radius: 0;
}

.project-name {
  font-size: 5rem;
}

.filler {
  grid-column: 2 / 9;
  height: 18rem;
  display: block;
}

.side-info {
  padding: 1rem 3rem 4rem 3rem;
  grid-column: 1 / 9;
  display: flex;
  justify-content: space-between;
}

.main-content {
  padding-left: 0;
  grid-column: 1 / 9;
}

.main-content h3,
.main-content h2{
  color: #606c71;
}

.project-tagline h2 {
  color: #606c71;
  margin: 0;
}

body {
  background: #f5f5f5;
}

.page-header {
  padding: 3rem 3rem;
  margin: 0;
  text-align: left;
  grid-column: 1 / 1;
  grid-row: 1 / 3;
}

.page-menu {
  z-index: 1;
  padding: 0px;
  background-color: #ff9900;
  position: fixed;
  width: auto;
  right: 0;
  color: white;
  display: flex;
  border-bottom-left-radius: 15px;
  justify-content: space-between;
}


.page-menu h2 {
  margin: 0 0 0 0;
}

.home-btn {
  padding: 0.4rem;
}

.page-menu .btn{
  margin: 0px;
}

.menu-item {
  color: white;
  border: white;
  border-radius: 5px;
  position: relative;
}

.menu-item:hover > .sub-menu {
  border: transparent 1px solid;
  background-color: white;
  display: inline-block;
  width: 220px;
  top: 2.2rem;
  left: 0px;
  position: absolute;
}

.menu-item:last-child:hover > .sub-menu {
  right: 0px;
  left: auto;
}

.sub-menu {
  display: none;
}

.sub-menu .btn {
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: black 5px solid;
  margin: 3px;
  width: 100%;
}

.sub-menu .btn:hover {
  color: #ff9900;
  border-left: #ff9900 5px solid;
}
